*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color:#000000;
    background-image: linear-gradient(to right, #9ec8fc 50%, #ff889e 50%);

    width: 100vw;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
}

body, input, button, textarea {
    font: 600 18px -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#main {
    color: white;
    overflow: hidden;
    height: 75vh;
    width: 80vw;
    text-align: center;

    border-radius: 20px;
    background: #333;
    border: 35px rgb(255, 255, 255);
    border-style: dotted;
    box-shadow: 20px 20px 75px rgba(0, 0, 0, 0.8);

    display: flex;
    justify-content: space-around;
    align-items: center;
}

#main .grid-game{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;

    width: 50%;
    height: 100%;
    background-color: #85a8d400;
}

#main .grid-tabuleiro{
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #333;
}



#main img {
    border-radius: 20px;
    max-width: 100%;
    max-height: 100%;
}



#main .personagens {
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
}

#main .personagens .player1{
    display: flex;
    align-items: flex-end;
}

#main .personagens .player2{
    display: flex;
    align-items: flex-end;
}

#main .grid-game h3 {
    width: 80%;
    height: 100px;
    border: 0;
    background: #ffffff;
    border-radius: 20px;
    color: #676767;
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;

}


#main .grid-dados {
    display: flex;
}

#main button {
    outline: none;
    width: 40%;
    height: 50px;
    border: 0;
    cursor: pointer;
    background: #3CDC8C;
    border-radius: 20px;
    color: #FFFFFF;
    font-weight: 700;
  
    display: flex;
    justify-content: center;
    align-items: center;
  
    transition: background-color 0.2s;
}

#main button:hover {
    background: #36CF82;
}









@media only screen and (max-width: 450px) {
    #main {
        height: 90vh;
        width: 100vw;
        border: 3px rgb(255, 255, 255);
        border-style: dotted;
        flex-direction: column;
    }
    
    #main .grid-game {
        width: 95%; 
    }
    
    #main .grid-tabuleiro {
        width: 95%; 
    }
}


